{% extends "base.jinja" %}
{% block contenu %}
    <h2 class="text-center my-5">Confirmation</h2>
    <img src="/static/confirmation.png" class="mx-auto d-block" alt="Image de confirmation">
    <p class="text-center">L'opération a réussi avec succès!</p>
    <div class="text-center">
        <a href="/" class="btn btn-primary">Retour à l'accueil</a>
    </div>
{% endblock %}